.button {
  display: inline-block;
  padding: 5px 26px;
  vertical-align: middle;
  box-sizing: border-box;

  font-size: 13px;
  line-height: 22px;
  font-family: "Tahoma", serif;
  text-align: center;
  color: $white;

  background-color: $red;
  background-image: linear-gradient($red, rgba(0, 0, 0, 0.3));
  border-radius: 3px;
  transition: all 0.07s linear;
  cursor: pointer;


  &:hover {
    background-color: $gray;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--action {
    background-color: $light-red;
    border: none;
    color: $white;

    &:hover {
      background-color: $light-red;
    }
  }
}
