.preview {
  padding: 20px 30px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;

  background: $light-gray;
}

.preview__intro {
  font-size: 21px;
  line-height: 28px;
  font-family: "Tahoma", serif;
  font-weight: bold;
  color: $black;
}

.preview__left {
  width: 48%;
  display: flex;
  align-items: stretch;
}

.preview__left img {
  width: 100%;
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, .25);
}

.preview__right {
  width: 48%;
}
